.App-header {
  text-align: center;
  font-size: 56px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
footer {
  text-align: center;
  margin-bottom: 30px;
}
body {
  background: #e3eff2;
  color: #4a4c4c;
}
