.Phonetic a {
  border: 1px solid #bfbfbf;
  text-decoration: none;
  padding: 3px 5px;
  margin-right: 8px;
  border-radius: 4px;
  transition: all 200 ease-in-out;
}

.Phonetic a:hover {
  background: blue;
}

.Phonetic {
  height: 30px;
}
